name: Build Action
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '16.x'
    - name: Install Dependencies
      run: npm install
    - name: Install ncc
      run: npm i -g @vercel/ncc
    - name: Build
      run: ncc build src/index.js --license licenses.txt
    - name: Clean Up
      run: rm -rf node_modules
    - name: Commit and push built files
      run: |
        if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
          echo "Detected uncommitted changes after build."
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -s -m "Built dist/index.js"
          git push
        else
          echo "No uncommitted changes after build."
        fi
